.about-section{
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 2em;
    text-align: justify;
}

.header{
    font-size: 50px;
    font-weight: 600;
    color: var(--color-secondary);
}

.sub-header{
    font-size: 40px;
    color: var(--color-secondary);
}

.skills{
    margin-top: 65px;
}

.about-section ul{
    padding-left: 0;
}

.about-section ul li{
    list-style: none;
    margin: 10px 0;
}

.about-icons{
    font-size: 35px;
    margin-right: 10px;
    transform: rotate(-45deg);
}

.skill-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 5px 0;
}

.circle-container{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.skilled{
    background-color: var(--color-secondary);
}

.normal{
    background-color: var(--color-text-primary);
}