nav{
    width: 96vw;
    height: 10vh;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav-logo img{
    width: 4em;
    height: 3.4em;
}

.links{
    display: flex;
    justify-content: flex-end;
}

.link-items{
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: auto 0.8em;
    color: var(--color-text-primary);
}

.link-items:hover{
    color: var(--color-secondary);
    cursor: pointer;
}
