:root{
    --color-primary:  #0B0C10;
    --color-shade: #1F2833;
    --color-secondary: #53A7FB;
    --color-secondary-dark: #45A29E;
    --color-text-primary: #ffffff;
    --color-text-secondary: #C5C6C7;
}