@import './config';

.about-section{
    height: 90vh;
    padding: 1em 2em;
    text-align: justify;
    
    h2{
        font-size: $font-size-header;
        font-weight: 600;
        color: $color-secondary;
    }
}

.sub-header{
    font-size: $font-size-sub-header;
    margin-bottom: 0.6em;
    color: $color-text-secondary;

}

.about-details{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}

.about-section ul{
    padding-left: 2.3em;
}

.about-section ul li{
    list-style: none;
    margin: 10px 0;
}

.about-icons{
    font-size: $font-size-sub-header;
    margin-right: 10px;
    transform: rotate(-45deg);
}

.skill-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 5px 0;
}

.skills{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 0;
    width: 90%;

}

.circle-container{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.skilled{
    background-color: $color-secondary;
}

.normal{
    background-color: $color-text-primary;
}