@import './config';

.contact{
    padding: 1em 1.1em;
}

.contact-socials{
    padding: 10px 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}

.header{
    font-size: $font-size-header;
    font-weight: 600;
    color: $color-secondary;
}

.side-image{
    width: 45%;        
    max-height: 33vh;
    float: right;
}

hr{
    border: 3px solid $color-secondary;
}

.contact-social-icons{
    margin-top: 4vh;
}