@import './config';
@import './projectcard';

.project-section{
    height: 90vh;
    padding: 15px 0;
    text-align: center;
    line-height: 10px;
    
    h2{
        font-size: 30px;
        margin: 0.9em 0;
        line-height: 10px;
        color: $color-secondary;
    }
}

.certifications{
    height: 20%;
}

.social-icons-logo{
    font-size: 2.6em;
    color: $color-text-primary;
    @include transition-ease;

    &:hover{
        transform: scale(1.3);
        color: $color-secondary;
    }
}

.projects{
    height: 75%;
}