@import './config';
@import './responsive';
@import './home.scss';
@import './about.scss';
@import './projects';
@import './contact';
@import './navbar';

.App{
    background-color: $color-primary;
    color: $color-text-primary;
    font-size: $font-size;
    font-family: 'Poppins',sans-serif;
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: auto;
}

.content{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    top: 10vh;
}

.content::-webkit-scrollbar{
    display: none;
}

