@import './resets';
@import './variables';

.App{
    background-color: $color-primary;
    color: $color-text-primary;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}

.content{
    width: 96vw;
    height: 90vh;
    margin: auto;
}

