@import './variables';

nav{
    width: 100vw;
    height: 10vh;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $color-primary;
}

.nav-logo img{
    width: 4em;
    height: 3.4em;
}

.links{
    display: flex;
    justify-content: flex-end;
}

.link-items{
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: auto 0.8em;
    color: $color-text-primary;
}

.link-items:hover{
    color: $color-secondary;
    cursor: pointer;
}